@using ForumApp.Models;

@model List<ThreadViewModel>

@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
	<div class="page-header text-center">
		<h1 id="timeline">Threads</h1>
	</div>
	<ul class="timeline">

		@foreach (var item in Model)
		{
			<li class="timeline-inverted">
				<div class="timeline-badge primary"><a><i class="glyphicon glyphicon-record invert" rel="tooltip" title="11 hours ago via Twitter" id=""></i></a></div>
				<div class="timeline-panel">
					<div class="timeline-heading">
					</div>
					<div class="timeline-body">
						<p>
							@item.Name <br />
							Last post: @item.NickName <br />
							Posted at: @item.PostCreatedOn <br />
						</p>
					</div>

					<div class="timeline-footer">
						<a>Total replies: @item.NumPosts</a>
						<a class="pull-right" href="@Url.Action("Details", "Threads", new { ID = item.ThreadID })">
							Posts
							<span class="glyphicon glyphicon-circle-arrow-right"></span>
						</a>
					</div>
				</div>
			</li>
		}
		<li class="clearfix" style="float: none;"></li>
	</ul>
</div>