@using ForumApp.Helpers
@using ForumApp.Models;

@model List<ThreadViewModel>

@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Title = "Threads";
	var userRole = AppManager.GetCurrentUserRole();
	var topic = ViewBag.topicDetails;
}
<div class="container">
	<input type="hidden" id="topicID" value="@topic.TopicID" />
	<div class="page-header text-center">
		<h1 id="timeline">Threads of @topic.Name topic</h1>
	</div>
	<ul class="timeline thread_cont">
		@foreach (var item in Model)
		{
			<li class="timeline-inverted">
				<div class="timeline-badge primary"><a><i class="glyphicon glyphicon-record invert" rel="tooltip" title="11 hours ago via Twitter" id=""></i></a></div>
				<div class="timeline-panel">
					<div class="timeline-heading">
					</div>
					<div class="timeline-body">
						<div class="thread_header">
							<a href="@Url.Action("Details", "Threads", new { ID = item.ThreadID })">
								@(item.Name)
							</a>
							<h5 class="inactive_thread">
								@(item.Inactive == true ? "CLOSED" : "")

								@if (userRole == "Admin" && item.Inactive == true)
								{
									<span title="Start Thread" data-val="@(item.ThreadID)" class="btnStartThread glyphicon glyphicon-play-circle"></span>
								}
							</h5>
							@if (userRole == "Admin" && item.Inactive != true)
							{
								<span title="Stop Thread" data-val="@(item.ThreadID)" class="btnStopThread glyphicon glyphicon-off"></span>
							}
						</div>
						<p>
							@if (item.NumPosts > 0)
							{
								<span>Last posted by:</span> @item.NickName<br />
								<span>Last posted on:</span> @item.PostCreatedOn<br />
							}
							else
							{
								<span>No posts yet</span>
							}
						</p>
					</div>
					<div class="timeline-footer">
						<a>Total replies: @item.NumPosts</a>
						<a class="pull-right" href="@Url.Action("Details", "Threads", new { ID = item.ThreadID })">
							Posts
							<span class="glyphicon glyphicon-circle-arrow-right"></span>
						</a>
					</div>
				</div>
			</li>
		}
		<li class="clearfix" style="float: none;"></li>
		<button type="button" title="Add Thread" id="btnAddThread" class="btn btn-default btn-circle btn-xl"><i class="glyphicon glyphicon-plus"></i></button>
	</ul>
</div>