@using ForumApp.Models;

@model List<TopicViewModel>

@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Title = "Topics";
}

<div class="container">
	<div class="page-header text-center">
		<h1 id="timeline">Topics</h1>
	</div>
	<div class="row">
		<div class="span12">
			<ul class="thumbnails">
				@foreach (var item in Model)
				{
					<li class="span5 clearfix">
						<div class="thumbnail clearfix">
							<input type="hidden" value="@item.TopicID" />
							<div class="caption" class="pull-left">
								<a href="@Url.Action("Details", "Topics", new { ID = item.TopicID })" id="btnTopic" class="btn btn-primary icon  pull-right">Threads</a>
								<h4>
									<a href="#">@item.Name</a>
								</h4>
								<h5>
									<a href="#">@item.NickName</a>
								</h5>
								<small>
									Last post: @(string.IsNullOrEmpty(item.ThreadName) ? "" : "Re: " + item.ThreadName)<br />
									Posted on: @item.PostCreatedOn <br />
									<a>Total replies: @item.NumPosts</a>
								</small>
								<p class="commands topic_commands">
									<span class="glyphicon glyphicon-edit"></span>
									<span class="glyphicon glyphicon-remove"></span>
								</p>
							</div>
						</div>
					</li>
				}
			</ul>
		</div>
	</div>
</div>