@using ForumApp.Models;

@model List<TopicViewModel>

@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Title = "Topics";
}

<div class="container">
	<div class="page-header text-center">
		<h1 id="timeline">Topics</h1>
	</div>
	<div class="row">
		<div class="span12">
			<ul class="thumbnails" id="topic_cont">
				@foreach (var item in Model)
				{
					<li class="span5 clearfix">
						<div class="thumbnail clearfix">
							<input type="hidden" value="@item.TopicID" />
							<div class="caption" class="pull-left">
								<div>
									<a href="@Url.Action("Details", "Topics", new { ID = item.TopicID })" id="btnTopic" class="btn btn-primary icon  pull-right">Threads</a>
									<h4>
										<a>@item.Name</a>
									</h4>
								</div>
								<div class="text_block post_count">
									@if (item.NumPosts == 0)
									{
										<h5>
											No posts Yet
										</h5>
									}
									else
									{
										<h5>
											<a>@item.NickName</a>
										</h5>
										<small>Last post: @(string.IsNullOrEmpty(item.ThreadName) ? "" : "Re: " + item.ThreadName)</small>
										<br />
									}
								</div>
								<div class="text_block">
									<a>Total replies: @item.NumPosts</a>
									<p class="commands topic_commands">
										<span class="glyphicon glyphicon-edit"></span>
										<span class="glyphicon glyphicon-remove"></span>
									</p>
								</div>
							</div>
						</div>
					</li>
				}

			</ul>
		</div>
	</div>
	<button type="button" title="Add Topic" id="btnAddTopic" class="btn btn-default btn-circle btn-xl"><i class="glyphicon glyphicon-plus"></i></button>
</div>