@using ForumApp.Helpers
@using ForumApp.Models;

@model List<PostViewModel>

@{
	Layout = "~/Views/Shared/_Layout.cshtml";

	ViewBag.Title = "Posts";
	var thread = ViewBag.threadDetails;
}
<div class="container">
	<input type="hidden" id="threadID" value="@thread.ThreadID" />
	<div class="page-header text-center">
		<h1 id="timeline">Posts of @thread.Name thread</h1>
		<h5>@thread.Description</h5>
	</div>
	<div class="row">
		<section class="content">
			<div class="col-md-8 col-md-offset-2">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="table-container">
							<table class="table table-filter">
								<tbody>
									@foreach (var item in Model)
									{
										<tr>
											<td>
												<div class="media">
													<div class="media-body">
														<p>Re: @thread.Name</p>
														<p class="post_content">
															@item.Text <br />
														</p>
														<p class="user_details">
															<span>Poted By:</span> @item.NickName<br />
															<span>Total posts: </span> @item.NumPosts<br />
															<span>Registered:</span>  @item.UserCreated<br />
															<span>Country:</span> @item.Country<br />
															<span>City:</span> @item.City<br />
														</p>
														@if (AppManager.GetCurrentUserID() == item.UserID)
														{
															<p class="commands">
																<span class="glyphicon glyphicon-edit"></span>
																<span class="glyphicon glyphicon-remove"></span>
															</p>
														}
														<p class="commands date">
															<span>Posted on: @item.PostCreated</span>
														</p>
													</div>
												</div>
											</td>
										</tr>
									}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</section>
		<button type="button" title="Add Post" id="btnAddPost" class="btn btn-default btn-circle btn-xl"><i class="glyphicon glyphicon-plus"></i></button>
	</div>
</div>
<script>
	window.onload = function () {
		$('#menu-content')
			.append($('<li>\
					<a class="block" href="@Url.Action("Details", "Topics", new { ID = thread.TopicID })">\
						<i class="fa fa-dashboard fa-lg"></i>Threads\
					</a>\
				</li>'))
	}
</script>